@media (max-width: 576px) {
p{
  font-size: 14px;
}
.col-md-4 {
  width: 100%;
}
#headshot {
  width: 100%;
  position: relative;
  left: 500px;
}
  }

@media (max-width: 991px) {
p {
  font-size: 16px;
}
.col-md-4 {
  width: 100%;
  }
#headshot {
  width: 100%;
  position: relative;
  left: 500px;
  }
}

@media (min-width: 992px) {

  }

@media (min-width: 1200px) {

  }

.display-4 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: relative;
  font-size: 35px;
  left: 30px;
  letter-spacing: 3px;
}

.lead {
  text-align: center;
  color: white;
  font-size: 30px;
  position: relative;
  bottom: 10px;
  font-style: italic;
  letter-spacing: 10px;
  text-decoration: overline;
}

#firstimage {
  padding-left: 100px;
  position: relative;
  left: 100px;
  width: 250px;
  bottom: 10px;
}

#textone {
  position: relative;
  bottom: 85px;
}

#secondimage {
  padding-left: 100px;
  position: relative;
  left: 115px;
  width: 250px;
  bottom: 35px;
  width: 200px;
}

#thirdimage {
  padding-left: 100px;
  position: relative;
  left: 150px;
  width: 250px;
  bottom: 20px;
  width: 168px;
}

#terpthonpic {
  position: relative;
  width: 175px;
  left: 150px;
  top: 25px;

}

body {
  font-family: georgia;
}

.jumbotron {
  background-image: url("https://i.pinimg.com/originals/56/ea/a5/56eaa5eeb54e9d2fa1aec2ed80bb13b3.jpg");
  background-size: 1300px;
  background-position: center;
}

#portfolio {
margin-top: 5px;
}

.pagefooter {
  background-color: #5B5A5B;
  color: white;
  position: relative;
  top: 75px;
}

#footertext {
}

.fa-envelope {
  position: relative;
  left: 440px;
  top: 75px;
}

.fa-twitter {
  position: relative;
  left: 460px;
  top: 75px;
}

.fa-vimeo {
  position: relative;
  left: 480px;
  top: 75px;
}

.fa-linkedin {
  position: relative;
  left: 500px;
  top: 75px;
}

.fa-github {
  position: relative;
  left: 520px;
  top: 75px;
}


#Photography {
  padding-bottom: 2.5px;
  position: relative;
  top: 21px;
}

#headshot {
  width: 200px;
  position: relative;
  left: 540px;
  bottom: 115px;
}

#text {
  position: relative;
  bottom: 75px;
}

#Terpthon {
  position: relative;
  bottom: 5px;
}

#terptext {
  position: relative;
  bottom: 45px;
}

#urchair {
  position: relative;
  bottom: 55px;
}
